*{
  margin: 0;
}
.outer-div{
  display: flex;  
  justify-content: center;  
}
.card{
  margin: 20px;
}
.cards{  
  display: flex;
  flex-wrap: wrap;
}
.btn{
  width: 100%;
}
.title{
  text-align: center;
}
